pytest
flake8
psycopg2-binary
SQLAlchemy>=2.0
Flask>=2.3
Jinja2>=3.0 
flasgger
flask-cors
prometheus-flask-exporter
Flask-Caching
PyJWT
#python -m pip install click python -m pip install SQLAlchemy>=2.0 python -m pip install psycopg2-binary python -m pip install flake8