<h2>État du stock{% if store %} - {{ store.name }} (ID: {{ store.id }}){% endif %}</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Catégorie</th>
    <th>Prix</th>
    <th>Stock</th>
    {% if session.role == "employe" %}
      <th>Réappro</th>
    {% endif %}
  </tr>
  {% for product in produits %}
  <tr>
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.category }}</td>
    <td>{{ product.price }} $</td>
    <td>{{ product.stock }}</td>
    {% if session.role == "employe" %}
      <td>
        {% if product.stock < 50 %}
        <form action="{{ url_for('web.reapprovisionnement', product_id=product.id) }}" method="post" style="display:inline;">
            <input type="number" name="qte" min="1" max="100" value="1" required>
            <button type="submit">Demander réappro</button>
        </form>
        {% else %}
          <span style="color:green;">OK</span>
        {% endif %}
      </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
